@{
    ViewData["Title"] = "Home Page";
}

@model HomeModel
<div class="text-center">
    <h1 class="display-4">Welcome to our simple website</h1>
</div>

<div class="text-center">
    Secret value = @Model.SecretValue</div>
